<ion-view view-title="Szukaj wolontariatu" hide-nav-bar="true">
  <ion-content>
    <div class="search__header">
      <label class="item item-input search__label">
        <input type="text" placeholder="Szukaj osób">
        <i class="icon ion-search placeholder-icon"></i>
      </label>
    </div>
    <div class="search__list">
      <div class="search__user" ng-repeat="user in users">
        <div class="header">
          <img class="header__userphoto" ng-src="{{user.photo}}">
          <h2 class="header__username">{{user.name}} {{user.surname}}</h2>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
