<ion-view view-title="Feed" hide-nav-bar="true">
  <ion-content>
    <div class="feed">
      <div class="feed__post" ng-repeat="post in posts">
        <div class="feed__body clearfix">
          <div class="feed__photo">
            <img ng-src="{{post.image}}" style="">
          </div>
          <div class="header">
            <img class="header__userphoto" ng-src="{{post.user.avatar || 'img/adam.jpg'}}">
            <h2 class="header__username">{{post.user.first_name}} {{post.user.last_name}}</h2>
          </div>
          <h2 class="feed__title">{{post.title}}</h2>
          <p class="feed__about">{{post.content}}</p>
          <div class="feed__footer clearfix">
            <h2 class="feed__org">{{post.organisation.name}}</h2>
            <img class="feed__cat" ng-src="{{post.organisation.category.icon2}}">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
