.tabs-striped.tabs-energized .tabs {
  background: #efbe17 url('../img/bar_top.jpg');
}

.header {
  position: relative;
  height: 48px;
  margin-bottom: 10px;

  &__userphoto {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  &__username {
    position: absolute;
    display: block;
    line-height: 42px;
    top: 0;
    margin: 0;
    left: 60px;
    font-size: 16px;
    font-family: serif;
  }
}

.feed {
  padding: 20px;

  &__post {
    position: relative;
    padding-bottom: 10px;
  }

  &__photo {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 16px;
    font-family: serif;
    border-bottom: 2px solid #efbe17;
    margin: 0;
  }

  &__about {
    font-family: serif;
    padding: 0;
    margin-bottom: 30px;
  }

  &__footer {
    padding: 5px 8px;
    background: #efbe17;
    height: 50px;
  }

  &__org {
    font-family: serif;
    font-size: 16px;
  }
}

.search {

  &__header {
    padding: 15px 12px;
    background: #efbe17 url('../img/bar_bottom.jpg');
  }

  &__label {
    padding: 0 10px 0 5px;
  }

  &__list {
    padding: 15px;
  }

  &__user {
    border-bottom: 2px solid #efbe17;
    margin-bottom: 15px;
  }
}
