.tabs-striped.tabs-energized .tabs {
  background: #efbe17 url('../img/bar_top.jpg');
}

.header {
  position: relative;
  height: 48px;
  margin-bottom: 10px;

  &__userphoto {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  &__username {
    position: absolute;
    display: block;
    line-height: 42px;
    top: 0;
    margin: 0;
    left: 60px;
    font-size: 16px;
    font-family: serif;
  }
}

.header--alt {
  height: 120px;
  padding: 10px 0;
  border-bottom: 2px solid #fff;

  .header__userphoto {
    height: 96px;
    width: 96px;
    margin-bottom: 15px;
  }

  .header__username {
    line-height: 110px;
    left: 110px;
    font-size: 28px;
  }
}

.feed {
  padding: 20px;

  &__post {
    position: relative;
    padding-bottom: 10px;
  }

  &__photo {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 16px;
    font-family: serif;
    border-bottom: 2px solid #efbe17;
    margin: 0;
  }

  &__about {
    font-family: serif;
    padding: 0;
    margin-bottom: 30px;
  }

  &__footer {
    padding: 5px 8px;
    background: #efbe17;
    height: 50px;
  }

  &__org {
    font-family: serif;
    font-size: 16px;
  }
}

.search {
  &__header {
    padding: 15px 12px;
    background: #efbe17 url('../img/bar_bottom.jpg');
  }

  &__label {
    padding: 0 10px 0 5px;
  }

  &__list {
    padding: 15px;
  }

  &__user {
    border-bottom: 2px solid #efbe17;
    margin-bottom: 15px;
  }
}

.profile {
  &__top {
    background: url('../img/profile_bg.png');
  }
}

.tab-item .icon:before {
  content: "";
  width: 48px;
  height: 48px;

}

.tab-item .ion-person-stalker:before {
  background: url('../img/menu_white_03.png');
}

.tab-item-active .ion-person-stalker:before {
  background: url('../img/menu_orange_03.png');
}

.tab-item .ion-ios-camera:before {
  background: url('../img/menu_white_05.png');
}

.tab-item-active .ion-ios-camera:before {
  background: url('../img/menu_orange_05.png');
}

.tab-item .ion-search:before {
  background: url('../img/menu_white_07.png');
}

.tab-item-active .ion-search:before {
  background: url('../img/menu_orange_07.png');
}

.tab-item .ion-person:before {
  background: url('../img/menu_white_09.png');
}

.tab-item-active .ion-person:before {
  background: url('../img/menu_orange_09.png');
}
