.tabs-energized .tabs {
  background: #efbe17 url('../img/bar_top.jpg');
}

.header {
  position: relative;
  margin-bottom: 10px;
  min-height: 45px;

  &__userphoto {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  &__username {
    display: block;
    line-height: 16px;
    margin-left: 60px;
    margin-top: 0;
    padding-top: 15px;
    font-size: 16px;
    font-family: serif;
  }
}

.header--alt {
  height: 120px;
  padding: 10px 0;
  border-bottom: 2px solid #fff;

  .header__userphoto {
    height: 96px;
    width: 96px;
    margin-bottom: 15px;
  }

  .header__username {
    margin-top: 15px;
    margin-left: 110px;
    line-height: 30px;
    font-size: 28px;
  }
}

.feed {
  padding: 20px;

  &__photo {
    float: right;
    width: 150px;

    img {
      max-width: 150px;
    }
  }

  &__body {
    padding-bottom: 10px;
  }

  &__title {
    font-size: 16px;
    font-family: serif;
    border-bottom: 2px solid #efbe17;
    margin: 0;
  }

  &__about {
    font-family: serif;
    padding: 0;
    margin-bottom: 10px;
  }

  &__footer {
    padding: 2px 8px;
    background: #efbe17;
  }

  &__org {
    float: left;
    font-family: serif;
    font-size: 16px;
    line-height: 28px;
    width: 70%;
    margin: 0;
  }

  &__cat {
    float: right;
    width: 26px;
  }
}

.search {
  &__header {
    padding: 15px 12px;
    background: #efbe17 url('../img/bar_bottom.jpg');
  }

  &__label {
    padding: 0 10px 0 5px;
  }

  &__list {
    padding: 15px;
  }

  &__user {
    border-bottom: 2px solid #efbe17;
    margin-bottom: 15px;
  }
}

.add {
  &__title[type="text"] {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #efbe17;
  }

  &__content {
    width: 100%;
    padding: 10px;
  }

  &__org {
    background: #efbe17;
    padding: 10px;
    margin: 10px auto;
  }

  &__orgselect {
    background: transparent;
    border: 0;
    width: 100%;
  }

  &__photozone {
    margin: 30px auto;
    width: 200px;
    border: 1px solid #efbe17;
    border-radius: 5px;
  }

  &__photo {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
  }

  &__addphoto {
    color: #efbe17;
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #efbe17;
    border-radius: 0;

    &:first-child {
      margin-top: 5px;
    }

    &:last-child {
      border: 0;
      margin-bottom: 5px;
    }
  }
}

.profile {
  &__top {
    padding: 15px;
    background: url('../img/profile_bg.png');
  }

  &__badges {

  }

  &__badge {
    float: left;
    width: 33%;
    text-align: center;

    img {
      max-width: 90%;
    }

    p {
      text-transform: uppercase;
      color: #fff;
      font-weight: 800;
    }
  }
}

.tab-item .icon:before {
  content: "";
  width: 48px;
  height: 48px;

}

.tab-item .ion-person-stalker:before {
  background: url('../img/menu_white_03.png');
}

.tab-item-active .ion-person-stalker:before {
  background: url('../img/menu_orange_03.png');
}

.tab-item .ion-ios-camera:before {
  background: url('../img/menu_white_05.png');
}

.tab-item-active .ion-ios-camera:before {
  background: url('../img/menu_orange_05.png');
}

.tab-item .ion-search:before {
  background: url('../img/menu_white_07.png');
}

.tab-item-active .ion-search:before {
  background: url('../img/menu_orange_07.png');
}

.tab-item .ion-person:before {
  background: url('../img/menu_white_09.png');
}

.tab-item-active .ion-person:before {
  background: url('../img/menu_orange_09.png');
}
